<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Product</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Početna</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Admin-početna</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <table class="table">
        <thead class="thead-light">
        <h2>Informacije o kupcu</h2>
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Mail</th>
            <th scope="col">Broj telefona</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address.phoneNumber}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <h2>Adresa</h2>
        <tr>
            <th scope="col">Ulica i broj</th>
            <th scope="col">Grad</th>
            <th scope="col">Poštanski broj</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${user.address.addressLine}"></td>
        <td th:text="${user.address.city}"></td>
        <td th:text="${user.address.postalCode}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <h2>Proizvodi</h2>
        <tr>
            <th scope="col">Sifra proizvoda</th>
            <th scope="col">Ime proizvoda</th>
            <th scope="col">Kolicina</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iStat : ${orderProducts}">
            <td th:text="${product.product.id}"></td>
            <td th:text="${product.product.name}"></td>
            <td th:text="${product.qty}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
        <h2>Personizirani proizvodi</h2>
        <tr>
            <th scope="col">Sifra proizvoda</th>
            <th scope="col">Text proizvoda</th>
            <th scope="col">Kolicina</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iStat : ${orderPers}">
            <td th:text="${product.personalizedJewelry.id}"></td>
            <td th:text="${product.personalizedJewelry.text}"></td>
            <td th:text="${product.qty}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        Ukupno:
        <a th:text="${order.total}"> </a>
    </div>
</div>


<script type="text/javascript">
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>